body{

    background-color:rgb(244, 255, 254);
}
header{
    background-color: azure;
}
footer{
    height: 70px;
    text-align: center;
    background-color: rgb(233, 254, 255);
}

.cad{
    background-color: rgb(202, 249, 250);
}







.col-3{
    background-color: hsl(202, 98%, 68%);
}
.col-2{
    background-color: #22c1cc;
}
.col-5 {
    
    background-color: #3375f0;
}









