main{
    display: flex;
    background-color: aquamarine;
}

body{
 background-color: rgb(115, 255, 0)   
}

head{
    align-content: center;
}

a:hover{
    color: #FF0000;
}

.link { color: #FF0000; }
link{
    
    color: rgb(255, 0, 0);
    
    
}
h1{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 162, 255);
    size: 16px;
}
p{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    size: 12px;
}
section{
    display: flex;
    flex-direction: row-reverse;
    -ms-flex-wrap: wrap;

}
article{
    flex: 1;
}

article:nth-of-type(2){
flex:3;
}

.flexContainer{
    display: flex;
    background-color: antiquewhite;

}
.flexGrowContainer{
display: flex;
align-items: stretch;
background-color: azure;
}